<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31153091402-uf7r9lpnanphhvb202649sg5rv930sv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31153091402-uf7r9lpnanphhvb202649sg5rv930sv0</string>
	<key>API_KEY</key>
	<string>AIzaSyDvsOERgqtQAN3qwZYQB2t2ZBdTKgoZPK4</string>
	<key>GCM_SENDER_ID</key>
	<string>31153091402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kanistra.camera</string>
	<key>PROJECT_ID</key>
	<string>camera-scan-e5684</string>
	<key>STORAGE_BUCKET</key>
	<string>camera-scan-e5684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31153091402:ios:5acf250d0321dbda66c7b3</string>
	<key>DATABASE_URL</key>
	<string>https://camera-scan-e5684-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>