<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31153091402-lo0vlkmtpo70ga1979vgf7soqjhobt4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31153091402-lo0vlkmtpo70ga1979vgf7soqjhobt4n</string>
	<key>API_KEY</key>
	<string>AIzaSyDvsOERgqtQAN3qwZYQB2t2ZBdTKgoZPK4</string>
	<key>GCM_SENDER_ID</key>
	<string>31153091402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanistra.camera</string>
	<key>PROJECT_ID</key>
	<string>camera-scan-e5684</string>
	<key>STORAGE_BUCKET</key>
	<string>camera-scan-e5684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31153091402:ios:5c6fa1ab2087af0666c7b3</string>
</dict>
</plist>